
/*		TORTURI CLASICE			*/
#tort_clasic218{
	background-image:url(torturi_clasice/tort_clasic218.jpg);
}
#tort_clasic217{
	background-image:url(torturi_clasice/tort_clasic217.jpg);
}		
#tort_clasic216{
	background-image:url(torturi_clasice/tort_clasic216.jpg);
}	
#tort_clasic215{
	background-image:url(torturi_clasice/tort_clasic215.jpg);
}
#tort_clasic214{
	background-image:url(torturi_clasice/tort_clasic214.jpg);
}
#tort_clasic213{
	background-image:url(torturi_clasice/tort_clasic213.jpg);
}
#tort_clasic212{
	background-image:url(torturi_clasice/tort_clasic212.jpg);
}
#tort_clasic211{
	background-image:url(torturi_clasice/tort_clasic211.jpg);
}		
		
#tort_clasic210{
	background-image:url(torturi_clasice/tort_clasic210.jpg);
}
#tort_clasic209{
	background-image:url(torturi_clasice/tort_clasic209.jpg);
}
#tort_clasic208{
	background-image:url(torturi_clasice/tort_clasic208.jpg);
}
#tort_clasic207{
	background-image:url(torturi_clasice/tort_clasic207.jpg);
}		
#tort_clasic206{
	background-image:url(torturi_clasice/tort_clasic206.jpg);
}	
#tort_clasic205{
	background-image:url(torturi_clasice/tort_clasic205.jpg);
}
#tort_clasic204{
	background-image:url(torturi_clasice/tort_clasic204.jpg);
}
#tort_clasic203{
	background-image:url(torturi_clasice/tort_clasic203.jpg);
}
#tort_clasic202{
	background-image:url(torturi_clasice/tort_clasic202.jpg);
}
#tort_clasic201{
	background-image:url(torturi_clasice/tort_clasic201.jpg);
}
		
#tort_clasic200{
	background-image:url(torturi_clasice/tort_clasic200.jpg);
}
#tort_clasic199{
	background-image:url(torturi_clasice/tort_clasic199.jpg);
}
#tort_clasic198{
	background-image:url(torturi_clasice/tort_clasic198.jpg);
}
#tort_clasic197{
	background-image:url(torturi_clasice/tort_clasic197.jpg);
}		
#tort_clasic196{
	background-image:url(torturi_clasice/tort_clasic196.jpg);
}	
#tort_clasic195{
	background-image:url(torturi_clasice/tort_clasic195.jpg);
}
#tort_clasic194{
	background-image:url(torturi_clasice/tort_clasic194.jpg);
}
#tort_clasic193{
	background-image:url(torturi_clasice/tort_clasic193.jpg);
}
#tort_clasic192{
	background-image:url(torturi_clasice/tort_clasic192.jpg);
}
#tort_clasic191{
	background-image:url(torturi_clasice/tort_clasic191.jpg);
}

#tort_clasic190{
	background-image:url(torturi_clasice/tort_clasic190.jpg);
}
#tort_clasic189{
	background-image:url(torturi_clasice/tort_clasic189.jpg);
}
#tort_clasic188{
	background-image:url(torturi_clasice/tort_clasic188.jpg);
}
#tort_clasic187{
	background-image:url(torturi_clasice/tort_clasic187.jpg);
}		
#tort_clasic186{
	background-image:url(torturi_clasice/tort_clasic186.jpg);
}	
#tort_clasic185{
	background-image:url(torturi_clasice/tort_clasic185.jpg);
}
#tort_clasic184{
	background-image:url(torturi_clasice/tort_clasic184.jpg);
}
#tort_clasic183{
	background-image:url(torturi_clasice/tort_clasic183.jpg);
}
#tort_clasic182{
	background-image:url(torturi_clasice/tort_clasic182.jpg);
}
#tort_clasic181{
	background-image:url(torturi_clasice/tort_clasic181.jpg);
}
		
#tort_clasic180{
	background-image:url(torturi_clasice/tort_clasic180.jpg);
}
#tort_clasic179{
	background-image:url(torturi_clasice/tort_clasic179.jpg);
}
#tort_clasic178{
	background-image:url(torturi_clasice/tort_clasic178.jpg);
}
#tort_clasic177{
	background-image:url(torturi_clasice/tort_clasic177.jpg);
}		
#tort_clasic176{
	background-image:url(torturi_clasice/tort_clasic176.jpg);
}	
#tort_clasic175{
	background-image:url(torturi_clasice/tort_clasic175.jpg);
}
#tort_clasic174{
	background-image:url(torturi_clasice/tort_clasic174.jpg);
}
#tort_clasic173{
	background-image:url(torturi_clasice/tort_clasic173.jpg);
}
#tort_clasic172{
	background-image:url(torturi_clasice/tort_clasic172.jpg);
}
#tort_clasic171{
	background-image:url(torturi_clasice/tort_clasic171.jpg);
}
		
#tort_clasic170{
	background-image:url(torturi_clasice/tort_clasic170.jpg);
}
#tort_clasic169{
	background-image:url(torturi_clasice/tort_clasic169.jpg);
}
#tort_clasic168{
	background-image:url(torturi_clasice/tort_clasic168.jpg);
}
#tort_clasic167{
	background-image:url(torturi_clasice/tort_clasic167.jpg);
}		
#tort_clasic166{
	background-image:url(torturi_clasice/tort_clasic166.jpg);
}	
#tort_clasic165{
	background-image:url(torturi_clasice/tort_clasic165.jpg);
}
#tort_clasic164{
	background-image:url(torturi_clasice/tort_clasic164.jpg);
}
#tort_clasic163{
	background-image:url(torturi_clasice/tort_clasic163.jpg);
}
#tort_clasic162{
	background-image:url(torturi_clasice/tort_clasic162.jpg);
}
#tort_clasic161{
	background-image:url(torturi_clasice/tort_clasic161.jpg);
}
		
#tort_clasic160{
	background-image:url(torturi_clasice/tort_clasic160.jpg);
}
#tort_clasic159{
	background-image:url(torturi_clasice/tort_clasic159.jpg);
}
#tort_clasic158{
	background-image:url(torturi_clasice/tort_clasic158.jpg);
}
#tort_clasic157{
	background-image:url(torturi_clasice/tort_clasic157.jpg);
}		
#tort_clasic156{
	background-image:url(torturi_clasice/tort_clasic156.jpg);
}	
#tort_clasic155{
	background-image:url(torturi_clasice/tort_clasic155.jpg);
}
#tort_clasic154{
	background-image:url(torturi_clasice/tort_clasic154.jpg);
}
#tort_clasic153{
	background-image:url(torturi_clasice/tort_clasic153.jpg);
}
#tort_clasic152{
	background-image:url(torturi_clasice/tort_clasic152.jpg);
}
#tort_clasic151{
	background-image:url(torturi_clasice/tort_clasic151.jpg);
}
		
#tort_clasic150{
	background-image:url(torturi_clasice/tort_clasic150.jpg);
}
#tort_clasic149{
	background-image:url(torturi_clasice/tort_clasic149.jpg);
}
#tort_clasic148{
	background-image:url(torturi_clasice/tort_clasic148.jpg);
}
#tort_clasic147{
	background-image:url(torturi_clasice/tort_clasic147.jpg);
}		
#tort_clasic146{
	background-image:url(torturi_clasice/tort_clasic146.jpg);
}	
#tort_clasic145{
	background-image:url(torturi_clasice/tort_clasic145.jpg);
}
#tort_clasic144{
	background-image:url(torturi_clasice/tort_clasic144.jpg);
}
#tort_clasic143{
	background-image:url(torturi_clasice/tort_clasic143.jpg);
}
#tort_clasic142{
	background-image:url(torturi_clasice/tort_clasic142.jpg);
}
#tort_clasic141{
	background-image:url(torturi_clasice/tort_clasic141.jpg);
}
		
#tort_clasic140{
	background-image:url(torturi_clasice/tort_clasic140.jpg);
}
#tort_clasic139{
	background-image:url(torturi_clasice/tort_clasic139.jpg);
}
#tort_clasic138{
	background-image:url(torturi_clasice/tort_clasic138.jpg);
}
#tort_clasic137{
	background-image:url(torturi_clasice/tort_clasic137.jpg);
}		
#tort_clasic136{
	background-image:url(torturi_clasice/tort_clasic136.jpg);
}	
#tort_clasic135{
	background-image:url(torturi_clasice/tort_clasic135.jpg);
}
#tort_clasic134{
	background-image:url(torturi_clasice/tort_clasic134.jpg);
}
#tort_clasic133{
	background-image:url(torturi_clasice/tort_clasic133.jpg);
}
#tort_clasic132{
	background-image:url(torturi_clasice/tort_clasic132.jpg);
}
#tort_clasic131{
	background-image:url(torturi_clasice/tort_clasic131.jpg);
}		

#tort_clasic130{
	background-image:url(torturi_clasice/tort_clasic130.jpg);
}
#tort_clasic129{
	background-image:url(torturi_clasice/tort_clasic129.jpg);
}
#tort_clasic128{
	background-image:url(torturi_clasice/tort_clasic128.jpg);
}
#tort_clasic127{
	background-image:url(torturi_clasice/tort_clasic127.jpg);
}		
#tort_clasic126{
	background-image:url(torturi_clasice/tort_clasic126.jpg);
}	
#tort_clasic125{
	background-image:url(torturi_clasice/tort_clasic125.jpg);
}
#tort_clasic124{
	background-image:url(torturi_clasice/tort_clasic124.jpg);
}
#tort_clasic123{
	background-image:url(torturi_clasice/tort_clasic123.jpg);
}
#tort_clasic122{
	background-image:url(torturi_clasice/tort_clasic122.jpg);
}
#tort_clasic121{
	background-image:url(torturi_clasice/tort_clasic121.jpg);
}
		
#tort_clasic120{
	background-image:url(torturi_clasice/tort_clasic120.jpg);
}
#tort_clasic119{
	background-image:url(torturi_clasice/tort_clasic119.jpg);
}
#tort_clasic118{
	background-image:url(torturi_clasice/tort_clasic118.jpg);
}
#tort_clasic117{
	background-image:url(torturi_clasice/tort_clasic117.jpg);
}		
#tort_clasic116{
	background-image:url(torturi_clasice/tort_clasic116.jpg);
}	
#tort_clasic115{
	background-image:url(torturi_clasice/tort_clasic115.jpg);
}
#tort_clasic114{
	background-image:url(torturi_clasice/tort_clasic114.jpg);
}
#tort_clasic113{
	background-image:url(torturi_clasice/tort_clasic113.jpg);
}
#tort_clasic112{
	background-image:url(torturi_clasice/tort_clasic112.jpg);
}
#tort_clasic111{
	background-image:url(torturi_clasice/tort_clasic111.jpg);
}
#tort_clasic110{
	background-image:url(torturi_clasice/tort_clasic110.jpg);
}
#tort_clasic109{
	background-image:url(torturi_clasice/tort_clasic109.jpg);
}
#tort_clasic108{
	background-image:url(torturi_clasice/tort_clasic108.jpg);
}
#tort_clasic107{
	background-image:url(torturi_clasice/tort_clasic107.jpg);
}		
#tort_clasic106{
	background-image:url(torturi_clasice/tort_clasic106.jpg);
}	
#tort_clasic105{
	background-image:url(torturi_clasice/tort_clasic105.jpg);
}
#tort_clasic104{
	background-image:url(torturi_clasice/tort_clasic104.jpg);
}
#tort_clasic103{
	background-image:url(torturi_clasice/tort_clasic103.jpg);
}
#tort_clasic102{
	background-image:url(torturi_clasice/tort_clasic102.jpg);
}
#tort_clasic101{
	background-image:url(torturi_clasice/tort_clasic101.jpg);
}		
#tort_clasic100{
	background-image:url(torturi_clasice/tort_clasic100.jpg);
}
#tort_clasic99{
	background-image:url(torturi_clasice/tort_clasic99.jpg);
}
#tort_clasic98{
	background-image:url(torturi_clasice/tort_clasic98.jpg);
}
#tort_clasic97{
	background-image:url(torturi_clasice/tort_clasic97.jpg);
}		
#tort_clasic96{
	background-image:url(torturi_clasice/tort_clasic96.jpg);
}	
#tort_clasic95{
	background-image:url(torturi_clasice/tort_clasic95.jpg);
}
#tort_clasic94{
	background-image:url(torturi_clasice/tort_clasic94.jpg);
}
#tort_clasic93{
	background-image:url(torturi_clasice/tort_clasic93.jpg);
}
#tort_clasic92{
	background-image:url(torturi_clasice/tort_clasic92.jpg);
}
#tort_clasic91{
	background-image:url(torturi_clasice/tort_clasic91.jpg);
}
#tort_clasic90{
	background-image:url(torturi_clasice/tort_clasic90.jpg);
}
#tort_clasic89{
	background-image:url(torturi_clasice/tort_clasic89.jpg);
}
#tort_clasic88{
	background-image:url(torturi_clasice/tort_clasic88.jpg);
}
#tort_clasic87{
	background-image:url(torturi_clasice/tort_clasic87.jpg);
}		
#tort_clasic86{
	background-image:url(torturi_clasice/tort_clasic86.jpg);
}	
#tort_clasic85{
	background-image:url(torturi_clasice/tort_clasic85.jpg);
}
#tort_clasic84{
	background-image:url(torturi_clasice/tort_clasic84.jpg);
}
#tort_clasic83{
	background-image:url(torturi_clasice/tort_clasic83.jpg);
}
#tort_clasic82{
	background-image:url(torturi_clasice/tort_clasic82.jpg);
}
#tort_clasic81{
	background-image:url(torturi_clasice/tort_clasic81.jpg);
}		
#tort_clasic80{
	background-image:url(torturi_clasice/tort_clasic80.jpg);
}
#tort_clasic79{
	background-image:url(torturi_clasice/tort_clasic79.jpg);
}
#tort_clasic78{
	background-image:url(torturi_clasice/tort_clasic78.jpg);
}
#tort_clasic77{
	background-image:url(torturi_clasice/tort_clasic77.jpg);
}		
#tort_clasic76{
	background-image:url(torturi_clasice/tort_clasic76.jpg);
}	
#tort_clasic75{
	background-image:url(torturi_clasice/tort_clasic75.jpg);
}
#tort_clasic74{
	background-image:url(torturi_clasice/tort_clasic74.jpg);
}
#tort_clasic73{
	background-image:url(torturi_clasice/tort_clasic73.jpg);
}
#tort_clasic72{
	background-image:url(torturi_clasice/tort_clasic72.jpg);
}
#tort_clasic71{
	background-image:url(torturi_clasice/tort_clasic71.jpg);
}		
#tort_clasic70{
	background-image:url(torturi_clasice/tort_clasic70.jpg);
}
#tort_clasic69{
	background-image:url(torturi_clasice/tort_clasic69.jpg);
}
#tort_clasic68{
	background-image:url(torturi_clasice/tort_clasic68.jpg);
}
#tort_clasic67{
	background-image:url(torturi_clasice/tort_clasic67.jpg);
}		
#tort_clasic66{
	background-image:url(torturi_clasice/tort_clasic66.jpg);
}	
#tort_clasic65{
	background-image:url(torturi_clasice/tort_clasic65.jpg);
}
#tort_clasic64{
	background-image:url(torturi_clasice/tort_clasic64.jpg);
}
#tort_clasic63{
	background-image:url(torturi_clasice/tort_clasic63.jpg);
}
#tort_clasic62{
	background-image:url(torturi_clasice/tort_clasic62.jpg);
}
#tort_clasic61{
	background-image:url(torturi_clasice/tort_clasic61.jpg);
}		
#tort_clasic60{
	background-image:url(torturi_clasice/tort_clasic60.jpg);
}
#tort_clasic59{
	background-image:url(torturi_clasice/tort_clasic59.jpg);
}
#tort_clasic58{
	background-image:url(torturi_clasice/tort_clasic58.jpg);
}
#tort_clasic57{
	background-image:url(torturi_clasice/tort_clasic57.jpg);
}		
#tort_clasic56{
	background-image:url(torturi_clasice/tort_clasic56.jpg);
}	
#tort_clasic55{
	background-image:url(torturi_clasice/tort_clasic55.jpg);
}
#tort_clasic54{
	background-image:url(torturi_clasice/tort_clasic54.jpg);
}
#tort_clasic53{
	background-image:url(torturi_clasice/tort_clasic53.jpg);
}
#tort_clasic52{
	background-image:url(torturi_clasice/tort_clasic52.jpg);
}
#tort_clasic51{
	background-image:url(torturi_clasice/tort_clasic51.jpg);
}
#tort_clasic50{
	background-image:url(torturi_clasice/tort_clasic50.jpg);
}
#tort_clasic49{
	background-image:url(torturi_clasice/tort_clasic49.jpg);
}
#tort_clasic48{
	background-image:url(torturi_clasice/tort_clasic48.jpg);
}
#tort_clasic47{
	background-image:url(torturi_clasice/tort_clasic47.jpg);
}		
#tort_clasic46{
	background-image:url(torturi_clasice/tort_clasic46.jpg);
}	
#tort_clasic45{
	background-image:url(torturi_clasice/tort_clasic45.jpg);
}
#tort_clasic44{
	background-image:url(torturi_clasice/tort_clasic44.jpg);
}
#tort_clasic43{
	background-image:url(torturi_clasice/tort_clasic43.jpg);
}
#tort_clasic42{
	background-image:url(torturi_clasice/tort_clasic42.jpg);
}	
#tort_clasic41{
	background-image:url(torturi_clasice/tort_clasic41.jpg);
}
#tort_clasic40{
	background-image:url(torturi_clasice/tort_clasic40.jpg);
}
#tort_clasic39{
	background-image:url(torturi_clasice/tort_clasic39.jpg);
}
#tort_clasic38{
	background-image:url(torturi_clasice/tort_clasic38.jpg);
}
#tort_clasic37{
	background-image:url(torturi_clasice/tort_clasic37.jpg);
}		
#tort_clasic36{
	background-image:url(torturi_clasice/tort_clasic36.jpg);
}	
#tort_clasic35{
	background-image:url(torturi_clasice/tort_clasic35.jpg);
}
#tort_clasic34{
	background-image:url(torturi_clasice/tort_clasic34.jpg);
}
#tort_clasic33{
	background-image:url(torturi_clasice/tort_clasic33.jpg);
}
#tort_clasic32{
	background-image:url(torturi_clasice/tort_clasic32.jpg);
}
#tort_clasic31{
	background-image:url(torturi_clasice/tort_clasic31.jpg);
}
#tort_clasic30{
	background-image:url(torturi_clasice/tort_clasic30.jpg);
}
#tort_clasic29{
	background-image:url(torturi_clasice/tort_clasic29.jpg);
}		
#tort_clasic28{
	background-image:url(torturi_clasice/tort_clasic28.jpg);
}	
#tort_clasic27{
	background-image:url(torturi_clasice/tort_clasic27.jpg);
}
#tort_clasic26{
	background-image:url(torturi_clasice/tort_clasic26.jpg);
}
#tort_clasic25{
	background-image:url(torturi_clasice/tort_clasic25.jpg);
}
#tort_clasic24{
	background-image:url(torturi_clasice/tort_clasic24.jpg);
}
#tort_clasic23{
	background-image:url(torturi_clasice/tort_clasic23.jpg);
}
#tort_clasic22{
	background-image:url(torturi_clasice/tort_clasic22.jpg);
}
#tort_clasic21{
	background-image:url(torturi_clasice/tort_clasic21.jpg);
}		
#tort_clasic20{
	background-image:url(torturi_clasice/tort_clasic20.jpg);
}	
#tort_clasic19{
	background-image:url(torturi_clasice/tort_clasic19.jpg);
}				
#tort_clasic18{
	background-image:url(torturi_clasice/tort_clasic18.jpg);
}		
#tort_clasic17{
	background-image:url(torturi_clasice/tort_clasic17.jpg);
}		
#tort_clasic16{
	background-image:url(torturi_clasice/tort_clasic16.jpg);
}
#tort_clasic15{
	background-image:url(torturi_clasice/tort_clasic15.jpg);
}
#tort_clasic14{
	background-image:url(torturi_clasice/tort_clasic14.jpg);
}
#tort_clasic13{
	background-image:url(torturi_clasice/tort_clasic13.jpg);
}
#tort_clasic12{
	background-image:url(torturi_clasice/tort_clasic12.jpg);
}
#tort_clasic11{
	background-image:url(torturi_clasice/tort_clasic11.jpg);
}
#tort_clasic10{
	background-image:url(torturi_clasice/tort_clasic10.jpg);
}
#tort_clasic9{
	background-image:url(torturi_clasice/tort_clasic9.jpg);
}
#tort_clasic8{
	background-image:url(torturi_clasice/tort_clasic8.jpg);
}
#tort_clasic7{
	background-image:url(torturi_clasice/tort_clasic7.jpg);
}
#tort_clasic6{
	background-image:url(torturi_clasice/tort_clasic6.jpg);
}
#tort_clasic5{
	background-image:url(torturi_clasice/tort_clasic5.jpg);
}
#tort_clasic4{
	background-image:url(torturi_clasice/tort_clasic4.jpg);
}
#tort_clasic3{
	background-image:url(torturi_clasice/tort_clasic3.jpg);
}
#tort_clasic2{
	background-image:url(torturi_clasice/tort_clasic2.jpg);
}
#tort_clasic1{
	background-image:url(torturi_clasice/tort_clasic1.jpg);
}

/*			TORTURI TEMATICE			*/


#tort_tematic89{
	background-image:url(torturi_tematice/tort_tematic89.jpg);
}

#tort_tematic88{
	background-image:url(torturi_tematice/tort_tematic88.jpg);
}
#tort_tematic87{
	background-image:url(torturi_tematice/tort_tematic87.jpg);
}

#tort_tematic86{
	background-image:url(torturi_tematice/tort_tematic86.jpg);
}

#tort_tematic85{
	background-image:url(torturi_tematice/tort_tematic85.jpg);
}
#tort_tematic84{
	background-image:url(torturi_tematice/tort_tematic84.jpg);
}

#tort_tematic83{
	background-image:url(torturi_tematice/tort_tematic83.jpg);
}
#tort_tematic82{
	background-image:url(torturi_tematice/tort_tematic82.jpg);
}

#tort_tematic81{
	background-image:url(torturi_tematice/tort_tematic81.jpg);
}

#tort_tematic80{
	background-image:url(torturi_tematice/tort_tematic80.jpg);
}
#tort_tematic79{
	background-image:url(torturi_tematice/tort_tematic79.jpg);
}

#tort_tematic78{
	background-image:url(torturi_tematice/tort_tematic78.jpg);
}
#tort_tematic77{
	background-image:url(torturi_tematice/tort_tematic77.jpg);
}

#tort_tematic76{
	background-image:url(torturi_tematice/tort_tematic76.jpg);
}

#tort_tematic75{
	background-image:url(torturi_tematice/tort_tematic75.jpg);
}
#tort_tematic74{
	background-image:url(torturi_tematice/tort_tematic74.jpg);
}

#tort_tematic73{
	background-image:url(torturi_tematice/tort_tematic73.jpg);
}
#tort_tematic72{
	background-image:url(torturi_tematice/tort_tematic72.jpg);
}

#tort_tematic71{
	background-image:url(torturi_tematice/tort_tematic71.jpg);
}

#tort_tematic70{
	background-image:url(torturi_tematice/tort_tematic70.jpg);
}
#tort_tematic69{
	background-image:url(torturi_tematice/tort_tematic69.jpg);
}

#tort_tematic68{
	background-image:url(torturi_tematice/tort_tematic68.jpg);
}
#tort_tematic67{
	background-image:url(torturi_tematice/tort_tematic67.jpg);
}

#tort_tematic66{
	background-image:url(torturi_tematice/tort_tematic66.jpg);
}

#tort_tematic65{
	background-image:url(torturi_tematice/tort_tematic65.jpg);
}
#tort_tematic64{
	background-image:url(torturi_tematice/tort_tematic64.jpg);
}

#tort_tematic63{
	background-image:url(torturi_tematice/tort_tematic63.jpg);
}
#tort_tematic62{
	background-image:url(torturi_tematice/tort_tematic62.jpg);
}

#tort_tematic61{
	background-image:url(torturi_tematice/tort_tematic61.jpg);
}

#tort_tematic60{
	background-image:url(torturi_tematice/tort_tematic60.jpg);
}
#tort_tematic59{
	background-image:url(torturi_tematice/tort_tematic59.jpg);
}

#tort_tematic58{
	background-image:url(torturi_tematice/tort_tematic58.jpg);
}
#tort_tematic57{
	background-image:url(torturi_tematice/tort_tematic57.jpg);
}

#tort_tematic56{
	background-image:url(torturi_tematice/tort_tematic56.jpg);
}

#tort_tematic55{
	background-image:url(torturi_tematice/tort_tematic55.jpg);
}
#tort_tematic54{
	background-image:url(torturi_tematice/tort_tematic54.jpg);
}

#tort_tematic53{
	background-image:url(torturi_tematice/tort_tematic53.jpg);
}
#tort_tematic52{
	background-image:url(torturi_tematice/tort_tematic52.jpg);
}

#tort_tematic51{
	background-image:url(torturi_tematice/tort_tematic51.jpg);
}

#tort_tematic50{
	background-image:url(torturi_tematice/tort_tematic50.jpg);
}
#tort_tematic49{
	background-image:url(torturi_tematice/tort_tematic49.jpg);
}

#tort_tematic48{
	background-image:url(torturi_tematice/tort_tematic48.jpg);
}
#tort_tematic47{
	background-image:url(torturi_tematice/tort_tematic47.jpg);
}

#tort_tematic46{
	background-image:url(torturi_tematice/tort_tematic46.jpg);
}

#tort_tematic45{
	background-image:url(torturi_tematice/tort_tematic45.jpg);
}
#tort_tematic44{
	background-image:url(torturi_tematice/tort_tematic44.jpg);
}

#tort_tematic43{
	background-image:url(torturi_tematice/tort_tematic43.jpg);
}
#tort_tematic42{
	background-image:url(torturi_tematice/tort_tematic42.jpg);
}

#tort_tematic41{
	background-image:url(torturi_tematice/tort_tematic41.jpg);
}

#tort_tematic40{
	background-image:url(torturi_tematice/tort_tematic40.jpg);
}
#tort_tematic39{
	background-image:url(torturi_tematice/tort_tematic39.jpg);
}

#tort_tematic38{
	background-image:url(torturi_tematice/tort_tematic38.jpg);
}
#tort_tematic37{
	background-image:url(torturi_tematice/tort_tematic37.jpg);
}

#tort_tematic36{
	background-image:url(torturi_tematice/tort_tematic36.jpg);
}

#tort_tematic35{
	background-image:url(torturi_tematice/tort_tematic35.jpg);
}
#tort_tematic34{
	background-image:url(torturi_tematice/tort_tematic34.jpg);
}

#tort_tematic33{
	background-image:url(torturi_tematice/tort_tematic33.jpg);
}
#tort_tematic32{
	background-image:url(torturi_tematice/tort_tematic32.jpg);
}

#tort_tematic31{
	background-image:url(torturi_tematice/tort_tematic31.jpg);
}
#tort_tematic30{
	background-image:url(torturi_tematice/tort_tematic30.jpg);
}
#tort_tematic29{
	background-image:url(torturi_tematice/tort_tematic29.jpg);
}

#tort_tematic28{
	background-image:url(torturi_tematice/tort_tematic28.jpg);
}
#tort_tematic27{
	background-image:url(torturi_tematice/tort_tematic27.jpg);
}

#tort_tematic26{
	background-image:url(torturi_tematice/tort_tematic26.jpg);
}

#tort_tematic25{
	background-image:url(torturi_tematice/tort_tematic25.jpg);
}
#tort_tematic24{
	background-image:url(torturi_tematice/tort_tematic24.jpg);
}

#tort_tematic23{
	background-image:url(torturi_tematice/tort_tematic23.jpg);
}
#tort_tematic22{
	background-image:url(torturi_tematice/tort_tematic22.jpg);
}

#tort_tematic21{
	background-image:url(torturi_tematice/tort_tematic21.jpg);
}
#tort_tematic20{
	background-image:url(torturi_tematice/tort_tematic20.jpg);
}

#tort_tematic19{
	background-image:url(torturi_tematice/tort_tematic19.jpg);
}

#tort_tematic18{
	background-image:url(torturi_tematice/tort_tematic18.jpg);
}
#tort_tematic17{
	background-image:url(torturi_tematice/tort_tematic17.jpg);
}

#tort_tematic16{
	background-image:url(torturi_tematice/tort_tematic16.jpg);
}

#tort_tematic15{
	background-image:url(torturi_tematice/tort_tematic15.jpg);
}
#tort_tematic14{
	background-image:url(torturi_tematice/tort_tematic14.jpg);
}

#tort_tematic13{
	background-image:url(torturi_tematice/tort_tematic13.jpg);
}
#tort_tematic12{
	background-image:url(torturi_tematice/tort_tematic12.jpg);
}
#tort_tematic11{
	background-image:url(torturi_tematice/tort_tematic11.jpg);
}

#tort_tematic10{
	background-image:url(torturi_tematice/tort_tematic10.jpg);
}

#tort_tematic9{
	background-image:url(torturi_tematice/tort_tematic9.jpg);
}
#tort_tematic8{
	background-image:url(torturi_tematice/tort_tematic8.jpg);
}

#tort_tematic7{
	background-image:url(torturi_tematice/tort_tematic7.jpg);
}

#tort_tematic6{
	background-image:url(torturi_tematice/tort_tematic6.jpg);
}
#tort_tematic5{
	background-image:url(torturi_tematice/tort_tematic5.jpg);
}

#tort_tematic4{
	background-image:url(torturi_tematice/tort_tematic4.jpg);
}

#tort_tematic3{
	background-image:url(torturi_tematice/tort_tematic3.jpg);
}
#tort_tematic2{
	background-image:url(torturi_tematice/tort_tematic2.jpg);
}

#tort_tematic1{
	background-image:url(torturi_tematice/tort_tematic1.jpg);
}

/*			TORTURI NUNTA			*/

#tort_nunta1{
	background-image:url(torturi_nunta/tort_nunta1.jpg);
}

#tort_nunta2{
	background-image:url(torturi_nunta/tort_nunta2.jpg);
}
#tort_nunta3{
	background-image:url(torturi_nunta/tort_nunta3.jpg);
}
#tort_nunta4{
	background-image:url(torturi_nunta/tort_nunta4.jpg);
}
#tort_nunta5{
	background-image:url(torturi_nunta/tort_nunta5.jpg);
}
#tort_nunta6{
	background-image:url(torturi_nunta/tort_nunta6.jpg);
}
#tort_nunta7{
	background-image:url(torturi_nunta/tort_nunta7.jpg);
}
#tort_nunta8{
	background-image:url(torturi_nunta/tort_nunta8.jpg);
}
#tort_nunta9{
	background-image:url(torturi_nunta/tort_nunta9.jpg);
}
#tort_nunta10{
	background-image:url(torturi_nunta/tort_nunta10.jpg);
}
#tort_nunta11{
	background-image:url(torturi_nunta/tort_nunta11.jpg);
}
#tort_nunta12{
	background-image:url(torturi_nunta/tort_nunta12.jpg);
}
#tort_nunta13{
	background-image:url(torturi_nunta/tort_nunta13.jpg);
}
#tort_nunta14{
	background-image:url(torturi_nunta/tort_nunta14.jpg);
}
#tort_nunta15{
	background-image:url(torturi_nunta/tort_nunta15.jpg);
}
#tort_nunta16{
	background-image:url(torturi_nunta/tort_nunta16.jpg);
}
#tort_nunta17{
	background-image:url(torturi_nunta/tort_nunta17.jpg);
}
#tort_nunta18{
	background-image:url(torturi_nunta/tort_nunta18.jpg);
}
#tort_nunta19{
	background-image:url(torturi_nunta/tort_nunta19.jpg);
}
#tort_nunta20{
	background-image:url(torturi_nunta/tort_nunta20.jpg);
}
#tort_nunta21{
	background-image:url(torturi_nunta/tort_nunta21.jpg);
}
#tort_nunta22{
	background-image:url(torturi_nunta/tort_nunta22.jpg);
}
#tort_nunta23{
	background-image:url(torturi_nunta/tort_nunta23.jpg);
}
#tort_nunta24{
	background-image:url(torturi_nunta/tort_nunta24.jpg);
}
#tort_nunta25{
	background-image:url(torturi_nunta/tort_nunta25.jpg);
}
#tort_nunta26{
	background-image:url(torturi_nunta/tort_nunta26.jpg);
}
#tort_nunta27{
	background-image:url(torturi_nunta/tort_nunta27.jpg);
}
#tort_nunta28{
	background-image:url(torturi_nunta/tort_nunta28.jpg);
}
#tort_nunta29{
	background-image:url(torturi_nunta/tort_nunta29.jpg);
}
#tort_nunta30{
	background-image:url(torturi_nunta/tort_nunta30.jpg);
}
#tort_nunta31{
	background-image:url(torturi_nunta/tort_nunta31.jpg);
}
#tort_nunta32{
	background-image:url(torturi_nunta/tort_nunta32.jpg);
}


/*			TORTURI COPII		*/

#tort_copii1{
	background-image:url(torturi_copii/tort_copii1.jpg);
}
#tort_copii2{
	background-image:url(torturi_copii/tort_copii2.jpg);
}
#tort_copii3{
	background-image:url(torturi_copii/tort_copii3.jpg);
}
#tort_copii4{
	background-image:url(torturi_copii/tort_copii4.jpg);
}
#tort_copii5{
	background-image:url(torturi_copii/tort_copii5.jpg);
}

#tort_copii6{
	background-image:url(torturi_copii/tort_copii6.jpg);
}
#tort_copii7{
	background-image:url(torturi_copii/tort_copii7.jpg);
}
#tort_copii8{
	background-image:url(torturi_copii/tort_copii8.jpg);
}
#tort_copii9{
	background-image:url(torturi_copii/tort_copii9.jpg);
}
#tort_copii10{
	background-image:url(torturi_copii/tort_copii10.jpg);
}
#tort_copii11{
	background-image:url(torturi_copii/tort_copii11.jpg);
}
#tort_copii12{
	background-image:url(torturi_copii/tort_copii12.jpg);
}
#tort_copii13{
	background-image:url(torturi_copii/tort_copii13.jpg);
}
#tort_copii14{
	background-image:url(torturi_copii/tort_copii14.jpg);
}
#tort_copii15{
	background-image:url(torturi_copii/tort_copii15.jpg);
}
#tort_copii16{
	background-image:url(torturi_copii/tort_copii16.jpg);
}
#tort_copii17{
	background-image:url(torturi_copii/tort_copii17.jpg);
}
#tort_copii18{
	background-image:url(torturi_copii/tort_copii18.jpg);
}
#tort_copii19{
	background-image:url(torturi_copii/tort_copii19.jpg);
}
#tort_copii20{
	background-image:url(torturi_copii/tort_copii20.jpg);
}
#tort_copii21{
	background-image:url(torturi_copii/tort_copii21.jpg);
}
#tort_copii22{
	background-image:url(torturi_copii/tort_copii22.jpg);
}
#tort_copii23{
	background-image:url(torturi_copii/tort_copii23.jpg);
}
#tort_copii24{
	background-image:url(torturi_copii/tort_copii24.jpg);
}
#tort_copii25{
	background-image:url(torturi_copii/tort_copii25.jpg);
}
#tort_copii26{
	background-image:url(torturi_copii/tort_copii26.jpg);
}
#tort_copii27{
	background-image:url(torturi_copii/tort_copii27.jpg);
}
#tort_copii28{
	background-image:url(torturi_copii/tort_copii28.jpg);
}
#tort_copii29{
	background-image:url(torturi_copii/tort_copii29.jpg);
}
#tort_copii30{
	background-image:url(torturi_copii/tort_copii30.jpg);
}
#tort_copii31{
	background-image:url(torturi_copii/tort_copii31.jpg);
}
#tort_copii32{
	background-image:url(torturi_copii/tort_copii32.jpg);
}
#tort_copii33{
	background-image:url(torturi_copii/tort_copii33.jpg);
}
#tort_copii34{
	background-image:url(torturi_copii/tort_copii34.jpg);
}
#tort_copii35{
	background-image:url(torturi_copii/tort_copii35.jpg);
}
#tort_copii36{
	background-image:url(torturi_copii/tort_copii36.jpg);
}
#tort_copii37{
	background-image:url(torturi_copii/tort_copii37.jpg);
}
#tort_copii38{
	background-image:url(torturi_copii/tort_copii38.jpg);
}
#tort_copii39{
	background-image:url(torturi_copii/tort_copii39.jpg);
}
#tort_copii40{
	background-image:url(torturi_copii/tort_copii40.jpg);
}
#tort_copii41{
	background-image:url(torturi_copii/tort_copii41.jpg);
}
#tort_copii42{
	background-image:url(torturi_copii/tort_copii42.jpg);
}
#tort_copii43{
	background-image:url(torturi_copii/tort_copii43.jpg);
}
#tort_copii44{
	background-image:url(torturi_copii/tort_copii44.jpg);
}
#tort_copii45{
	background-image:url(torturi_copii/tort_copii45.jpg);
}
#tort_copii46{
	background-image:url(torturi_copii/tort_copii46.jpg);
}
#tort_copii47{
	background-image:url(torturi_copii/tort_copii47.jpg);
}
#tort_copii48{
	background-image:url(torturi_copii/tort_copii48.jpg);
}
#tort_copii49{
	background-image:url(torturi_copii/tort_copii49.jpg);
}
#tort_copii50{
	background-image:url(torturi_copii/tort_copii50.jpg);
}
#tort_copii51{
	background-image:url(torturi_copii/tort_copii51.jpg);
}
#tort_copii52{
	background-image:url(torturi_copii/tort_copii52.jpg);
}
#tort_copii53{
	background-image:url(torturi_copii/tort_copii53.jpg);
}
#tort_copii54{
	background-image:url(torturi_copii/tort_copii54.jpg);
}
#tort_copii55{
	background-image:url(torturi_copii/tort_copii55.jpg);
}
#tort_copii56{
	background-image:url(torturi_copii/tort_copii56.jpg);
}
#tort_copii57{
	background-image:url(torturi_copii/tort_copii57.jpg);
}
#tort_copii58{
	background-image:url(torturi_copii/tort_copii58.jpg);
}
#tort_copii59{
	background-image:url(torturi_copii/tort_copii59.jpg);
}
#tort_copii60{
	background-image:url(torturi_copii/tort_copii60.jpg);
}
#tort_copii61{
	background-image:url(torturi_copii/tort_copii61.jpg);
}
#tort_copii62{
	background-image:url(torturi_copii/tort_copii62.jpg);
}
#tort_copii63{
	background-image:url(torturi_copii/tort_copii63.jpg);
}
#tort_copii64{
	background-image:url(torturi_copii/tort_copii64.jpg);
}
#tort_copii65{
	background-image:url(torturi_copii/tort_copii65.jpg);
}
#tort_copii66{
	background-image:url(torturi_copii/tort_copii66.jpg);
}
#tort_copii67{
	background-image:url(torturi_copii/tort_copii67.jpg);
}
#tort_copii68{
	background-image:url(torturi_copii/tort_copii68.jpg);
}
#tort_copii69{
	background-image:url(torturi_copii/tort_copii69.jpg);
}
#tort_copii70{
	background-image:url(torturi_copii/tort_copii70.jpg);
}
#tort_copii71{
	background-image:url(torturi_copii/tort_copii71.jpg);
}
#tort_copii72{
	background-image:url(torturi_copii/tort_copii72.jpg);
}
#tort_copii73{
	background-image:url(torturi_copii/tort_copii73.jpg);
}
#tort_copii74{
	background-image:url(torturi_copii/tort_copii74.jpg);
}
#tort_copii75{
	background-image:url(torturi_copii/tort_copii75.jpg);
}
#tort_copii76{
	background-image:url(torturi_copii/tort_copii76.jpg);
}
#tort_copii77{
	background-image:url(torturi_copii/tort_copii77.jpg);
}
#tort_copii78{
	background-image:url(torturi_copii/tort_copii78.jpg);
}
#tort_copii79{
	background-image:url(torturi_copii/tort_copii79.jpg);
}
#tort_copii80{
	background-image:url(torturi_copii/tort_copii80.jpg);
}
#tort_copii78{
	background-image:url(torturi_copii/tort_copii81.jpg);
}
#tort_copii82{
	background-image:url(torturi_copii/tort_copii82.jpg);
}
#tort_copii83{
	background-image:url(torturi_copii/tort_copii83.jpg);
}
#tort_copii84{
	background-image:url(torturi_copii/tort_copii84.jpg);
}
#tort_copii85{
	background-image:url(torturi_copii/tort_copii85.jpg);
}
#tort_copii86{
	background-image:url(torturi_copii/tort_copii86.jpg);
}
#tort_copii87{
	background-image:url(torturi_copii/tort_copii87.jpg);
}
#tort_copii88{
	background-image:url(torturi_copii/tort_copii88.jpg);
}
#tort_copii89{
	background-image:url(torturi_copii/tort_copii89.jpg);
}
#tort_copii90{
	background-image:url(torturi_copii/tort_copii90.jpg);
}
#tort_copii91{
	background-image:url(torturi_copii/tort_copii91.jpg);
}
#tort_copii92{
	background-image:url(torturi_copii/tort_copii92.jpg);
}
#tort_copii93{
	background-image:url(torturi_copii/tort_copii93.jpg);
}
#tort_copii94{
	background-image:url(torturi_copii/tort_copii94.jpg);
}
#tort_copii95{
	background-image:url(torturi_copii/tort_copii95.jpg);
}
#tort_copii96{
	background-image:url(torturi_copii/tort_copii96.jpg);
}
#tort_copii97{
	background-image:url(torturi_copii/tort_copii97.jpg);
}
#tort_copii98{
	background-image:url(torturi_copii/tort_copii98.jpg);
}
#tort_copii99{
	background-image:url(torturi_copii/tort_copii99.jpg);
}
#tort_copii100{
	background-image:url(torturi_copii/tort_copii100.jpg);
}
#tort_copii101{
	background-image:url(torturi_copii/tort_copii101.jpg);
}
#tort_copii102{
	background-image:url(torturi_copii/tort_copii102.jpg);
}
#tort_copii103{
	background-image:url(torturi_copii/tort_copii103.jpg);
}
#tort_copii104{
	background-image:url(torturi_copii/tort_copii104.jpg);
}
#tort_copii105{
	background-image:url(torturi_copii/tort_copii105.jpg);
}
#tort_copii106{
	background-image:url(torturi_copii/tort_copii106.jpg);
}
#tort_copii107{
	background-image:url(torturi_copii/tort_copii107.jpg);
}
#tort_copii108{
	background-image:url(torturi_copii/tort_copii108.jpg);
}
#tort_copii109{
	background-image:url(torturi_copii/tort_copii109.jpg);
}
#tort_copii110{
	background-image:url(torturi_copii/tort_copii110.jpg);
}
#tort_copii111{
	background-image:url(torturi_copii/tort_copii111.jpg);
}
#tort_copii112{
	background-image:url(torturi_copii/tort_copii112.jpg);
}
#tort_copii113{
	background-image:url(torturi_copii/tort_copii113.jpg);
}
#tort_copii114{
	background-image:url(torturi_copii/tort_copii114.jpg);
}
#tort_copii115{
	background-image:url(torturi_copii/tort_copii115.jpg);
}
#tort_copii116{
	background-image:url(torturi_copii/tort_copii116.jpg);
}
#tort_copii117{
	background-image:url(torturi_copii/tort_copii117.jpg);
}
#tort_copii118{
	background-image:url(torturi_copii/tort_copii118.jpg);
}
#tort_copii119{
	background-image:url(torturi_copii/tort_copii119.jpg);
}
#tort_copii120{
	background-image:url(torturi_copii/tort_copii120.jpg);
}
#tort_copii121{
	background-image:url(torturi_copii/tort_copii121.jpg);
}
#tort_copii122{
	background-image:url(torturi_copii/tort_copii122.jpg);
}
#tort_copii123{
	background-image:url(torturi_copii/tort_copii123.jpg);
}
#tort_copii124{
	background-image:url(torturi_copii/tort_copii124.jpg);
}
#tort_copii125{
	background-image:url(torturi_copii/tort_copii125.jpg);
}
#tort_copii126{
	background-image:url(torturi_copii/tort_copii126.jpg);
}
#tort_copii127{
	background-image:url(torturi_copii/tort_copii127.jpg);
}
#tort_copii128{
	background-image:url(torturi_copii/tort_copii128.jpg);
}
#tort_copii129{
	background-image:url(torturi_copii/tort_copii129.jpg);
}




/*			TORTURI BOTEZ		*/

#tort_botez1{
	background-image:url(torturi_botez/tort_botez1.jpg);
}
#tort_botez2{
	background-image:url(torturi_botez/tort_botez2.jpg);
}
#tort_botez3{
	background-image:url(torturi_botez/tort_botez3.jpg);
}
#tort_botez4{
	background-image:url(torturi_botez/tort_botez4.jpg);
}
#tort_botez5{
	background-image:url(torturi_botez/tort_botez5.jpg);
}
#tort_botez6{
	background-image:url(torturi_botez/tort_botez6.jpg);
}
#tort_botez7{
	background-image:url(torturi_botez/tort_botez7.jpg);
}
#tort_botez8{
	background-image:url(torturi_botez/tort_botez8.jpg);
}
#tort_botez9{
	background-image:url(torturi_botez/tort_botez9.jpg);
}
#tort_botez10{
	background-image:url(torturi_botez/tort_botez10.jpg);
}
#tort_botez11{
	background-image:url(torturi_botez/tort_botez11.jpg);
}
#tort_botez12{
	background-image:url(torturi_botez/tort_botez12.jpg);
}
#tort_botez13{
	background-image:url(torturi_botez/tort_botez13.jpg);
}
#tort_botez14{
	background-image:url(torturi_botez/tort_botez14.jpg);
}
#tort_botez15{
	background-image:url(torturi_botez/tort_botez15.jpg);
}
#tort_botez16{
	background-image:url(torturi_botez/tort_botez16.jpg);
}
#tort_botez17{
	background-image:url(torturi_botez/tort_botez17.jpg);
}
/*			TORTURI BURLACI			*/

#tort_burlaci11{
	background-image:url(torturi_burlaci/tort_burlaci11.jpg);
}

#tort_burlaci10{
	background-image:url(torturi_burlaci/tort_burlaci10.jpg);
}

#tort_burlaci9{
	background-image:url(torturi_burlaci/tort_burlaci9.jpg);
}

#tort_burlaci8{
	background-image:url(torturi_burlaci/tort_burlaci8.jpg);
}

#tort_burlaci7{
	background-image:url(torturi_burlaci/tort_burlaci7.jpg);
}

#tort_burlaci6{
	background-image:url(torturi_burlaci/tort_burlaci6.jpg);
}

#tort_burlaci5{
	background-image:url(torturi_burlaci/tort_burlaci5.jpg);
}

#tort_burlaci4{
	background-image:url(torturi_burlaci/tort_burlaci4.jpg);
}

#tort_burlaci3{
	background-image:url(torturi_burlaci/tort_burlaci3.jpg);
}

#tort_burlaci2{
	background-image:url(torturi_burlaci/tort_burlaci2.jpg);
}

#tort_burlaci1{
	background-image:url(torturi_burlaci/tort_burlaci1.jpg);
}

/*			Candy Bar		*/

#candy_bar1{
	background-image:url(candy_bar/candy_bar1.jpg);
}
#candy_bar2{
	background-image:url(candy_bar/candy_bar2.jpg);
}
#candy_bar3{
	background-image:url(candy_bar/candy_bar3.jpg);
}
#candy_bar4{
	background-image:url(candy_bar/candy_bar4.jpg);
}
#candy_bar5{
	background-image:url(candy_bar/candy_bar5.jpg);
}
#candy_bar6{
	background-image:url(candy_bar/candy_bar6.jpg);
}
#candy_bar7{
	background-image:url(candy_bar/candy_bar7.jpg);
}
#candy_bar8{
	background-image:url(candy_bar/candy_bar8.jpg);
}
#candy_bar9{
	background-image:url(candy_bar/candy_bar9.jpg);
}
#candy_bar10{
	background-image:url(candy_bar/candy_bar10.jpg);
}

#candy_bar11{
	background-image:url(candy_bar/candy_bar11.jpg);
}
#candy_bar12{
	background-image:url(candy_bar/candy_bar12.jpg);
}

#candy_bar13{
	background-image:url(candy_bar/candy_bar13.jpg);
}
#candy_bar14{
	background-image:url(candy_bar/candy_bar14.jpg);
}
#candy_bar15{
	background-image:url(candy_bar/candy_bar15.jpg);
}
#candy_bar16{
	background-image:url(candy_bar/candy_bar16.jpg);
}
#candy_bar17{
	background-image:url(candy_bar/candy_bar17.jpg);
}
#candy_bar18{
	background-image:url(candy_bar/candy_bar18.jpg);
}
#candy_bar19{
	background-image:url(candy_bar/candy_bar19.jpg);
}
#candy_bar20{
	background-image:url(candy_bar/candy_bar20.jpg);
}
#candy_bar21{
	background-image:url(candy_bar/candy_bar21.jpg);
}
#candy_bar22{
	background-image:url(candy_bar/candy_bar22.jpg);
}
#candy_bar23{
	background-image:url(candy_bar/candy_bar23.jpg);
}
#candy_bar24{
	background-image:url(candy_bar/candy_bar24.jpg);
}
#candy_bar25{
	background-image:url(candy_bar/candy_bar25.jpg);
}
#candy_bar26{
	background-image:url(candy_bar/candy_bar26.jpg);
}
#candy_bar27{
	background-image:url(candy_bar/candy_bar27.jpg);
}
#candy_bar28{
	background-image:url(candy_bar/candy_bar28.jpg);
}
#candy_bar29{
	background-image:url(candy_bar/candy_bar29.jpg);
}
#candy_bar30{
	background-image:url(candy_bar/candy_bar30.jpg);
}
#candy_bar31{
	background-image:url(candy_bar/candy_bar31.jpg);
}
#candy_bar32{
	background-image:url(candy_bar/candy_bar32.jpg);
}
#candy_bar33{
	background-image:url(candy_bar/candy_bar33.jpg);
}
#candy_bar34{
	background-image:url(candy_bar/candy_bar34.jpg);
}


/*			PRAJITURI			*/

#prajitura123{
	background-image:url(prajituri/prajitura123.jpg);
}

#prajitura122{
	background-image:url(prajituri/prajitura122.jpg);
}

#prajitura121{
	background-image:url(prajituri/prajitura121.jpg);
}

#prajitura120{
	background-image:url(prajituri/prajitura120.jpg);
}

#prajitura119{
	background-image:url(prajituri/prajitura119.jpg);
}

#prajitura118{
	background-image:url(prajituri/prajitura118.jpg);
}

#prajitura117{
	background-image:url(prajituri/prajitura117.jpg);
}

#prajitura116{
	background-image:url(prajituri/prajitura116.jpg);
}

#prajitura115{
	background-image:url(prajituri/prajitura115.jpg);
}

#prajitura114{
	background-image:url(prajituri/prajitura114.jpg);
}

#prajitura113{
	background-image:url(prajituri/prajitura113.jpg);
}

#prajitura112{
	background-image:url(prajituri/prajitura112.jpg);
}

#prajitura111{
	background-image:url(prajituri/prajitura111.jpg);
}
#prajitura110{
	background-image:url(prajituri/prajitura110.jpg);
}

#prajitura109{
	background-image:url(prajituri/prajitura109.jpg);
}

#prajitura108{
	background-image:url(prajituri/prajitura18.jpg);
}

#prajitura107{
	background-image:url(prajituri/prajitura107.jpg);
}

#prajitura106{
	background-image:url(prajituri/prajitura106.jpg);
}

#prajitura105{
	background-image:url(prajituri/prajitura105.jpg);
}

#prajitura104{
	background-image:url(prajituri/prajitura104.jpg);
}

#prajitura103{
	background-image:url(prajituri/prajitura103.jpg);
}

#prajitura102{
	background-image:url(prajituri/prajitura102.jpg);
}

#prajitura101{
	background-image:url(prajituri/prajitura101.jpg);
}

#prajitura100{
	background-image:url(prajituri/prajitura100.jpg);
}

#prajitura99{
	background-image:url(prajituri/prajitura99.jpg);
}

#prajitura98{
	background-image:url(prajituri/prajitura98.jpg);
}

#prajitura97{
	background-image:url(prajituri/prajitura97.jpg);
}

#prajitura96{
	background-image:url(prajituri/prajitura96.jpg);
}

#prajitura95{
	background-image:url(prajituri/prajitura95.jpg);
}

#prajitura94{
	background-image:url(prajituri/prajitura94.jpg);
}

#prajitura93{
	background-image:url(prajituri/prajitura93.jpg);
}

#prajitura92{
	background-image:url(prajituri/prajitura92.jpg);
}

#prajitura91{
	background-image:url(prajituri/prajitura91.jpg);
}

#prajitura90{
	background-image:url(prajituri/prajitura90.jpg);
}

#prajitura89{
	background-image:url(prajituri/prajitura89.jpg);
}

#prajitura88{
	background-image:url(prajituri/prajitura88.jpg);
}

#prajitura87{
	background-image:url(prajituri/prajitura87.jpg);
}

#prajitura86{
	background-image:url(prajituri/prajitura86.jpg);
}

#prajitura85{
	background-image:url(prajituri/prajitura85.jpg);
}

#prajitura84{
	background-image:url(prajituri/prajitura84.jpg);
}

#prajitura83{
	background-image:url(prajituri/prajitura83.jpg);
}

#prajitura82{
	background-image:url(prajituri/prajitura82.jpg);
}

#prajitura81{
	background-image:url(prajituri/prajitura81.jpg);
}

#prajitura80{
	background-image:url(prajituri/prajitura80.jpg);
}

#prajitura79{
	background-image:url(prajituri/prajitura79.jpg);
}

#prajitura78{
	background-image:url(prajituri/prajitura78.jpg);
}

#prajitura77{
	background-image:url(prajituri/prajitura77.jpg);
}

#prajitura76{
	background-image:url(prajituri/prajitura76.jpg);
}

#prajitura75{
	background-image:url(prajituri/prajitura75.jpg);
}

#prajitura74{
	background-image:url(prajituri/prajitura74.jpg);
}

#prajitura73{
	background-image:url(prajituri/prajitura73.jpg);
}

#prajitura72{
	background-image:url(prajituri/prajitura72.jpg);
}

#prajitura71{
	background-image:url(prajituri/prajitura71.jpg);
}

#prajitura70{
	background-image:url(prajituri/prajitura70.jpg);
}

#prajitura69{
	background-image:url(prajituri/prajitura69.jpg);
}

#prajitura68{
	background-image:url(prajituri/prajitura68.jpg);
}

#prajitura67{
	background-image:url(prajituri/prajitura67.jpg);
}

#prajitura66{
	background-image:url(prajituri/prajitura66.jpg);
}

#prajitura65{
	background-image:url(prajituri/prajitura65.jpg);
}

#prajitura64{
	background-image:url(prajituri/prajitura64.jpg);
}

#prajitura63{
	background-image:url(prajituri/prajitura63.jpg);
}

#prajitura62{
	background-image:url(prajituri/prajitura62.jpg);
}

#prajitura61{
	background-image:url(prajituri/prajitura61.jpg);
}

#prajitura60{
	background-image:url(prajituri/prajitura60.jpg);
}

#prajitura59{
	background-image:url(prajituri/prajitura59.jpg);
}

#prajitura58{
	background-image:url(prajituri/prajitura58.jpg);
}

#prajitura57{
	background-image:url(prajituri/prajitura57.jpg);
}

#prajitura56{
	background-image:url(prajituri/prajitura56.jpg);
}

#prajitura55{
	background-image:url(prajituri/prajitura55.jpg);
}

#prajitura54{
	background-image:url(prajituri/prajitura54.jpg);
}

#prajitura53{
	background-image:url(prajituri/prajitura53.jpg);
}

#prajitura52{
	background-image:url(prajituri/prajitura52.jpg);
}

#prajitura51{
	background-image:url(prajituri/prajitura51.jpg);
}
#prajitura50{
	background-image:url(prajituri/prajitura50.jpg);
}

#prajitura49{
	background-image:url(prajituri/prajitura49.jpg);
}

#prajitura48{
	background-image:url(prajituri/prajitura48.jpg);
}

#prajitura47{
	background-image:url(prajituri/prajitura47.jpg);
}

#prajitura46{
	background-image:url(prajituri/prajitura46.jpg);
}

#prajitura45{
	background-image:url(prajituri/prajitura45.jpg);
}

#prajitura44{
	background-image:url(prajituri/prajitura44.jpg);
}

#prajitura43{
	background-image:url(prajituri/prajitura43.jpg);
}

#prajitura42{
	background-image:url(prajituri/prajitura42.jpg);
}

#prajitura41{
	background-image:url(prajituri/prajitura41.jpg);
}

#prajitura40{
	background-image:url(prajituri/prajitura40.jpg);
}

#prajitura39{
	background-image:url(prajituri/prajitura39.jpg);
}

#prajitura38{
	background-image:url(prajituri/prajitura38.jpg);
}

#prajitura37{
	background-image:url(prajituri/prajitura37.jpg);
}

#prajitura36{
	background-image:url(prajituri/prajitura36.jpg);
}

#prajitura35{
	background-image:url(prajituri/prajitura35.jpg);
}

#prajitura34{
	background-image:url(prajituri/prajitura34.jpg);
}

#prajitura33{
	background-image:url(prajituri/prajitura33.jpg);
}

#prajitura32{
	background-image:url(prajituri/prajitura32.jpg);
}

#prajitura31{
	background-image:url(prajituri/prajitura31.jpg);
}
#prajitura30{
	background-image:url(prajituri/prajitura30.jpg);
}

#prajitura29{
	background-image:url(prajituri/prajitura29.jpg);
}

#prajitura28{
	background-image:url(prajituri/prajitura28.jpg);
}

#prajitura27{
	background-image:url(prajituri/prajitura27.jpg);
}

#prajitura26{
	background-image:url(prajituri/prajitura26.jpg);
}

#prajitura25{
	background-image:url(prajituri/prajitura25.jpg);
}

#prajitura24{
	background-image:url(prajituri/prajitura24.jpg);
}

#prajitura23{
	background-image:url(prajituri/prajitura23.jpg);
}

#prajitura22{
	background-image:url(prajituri/prajitura22.jpg);
}

#prajitura21{
	background-image:url(prajituri/prajitura21.jpg);
}

#prajitura20{
	background-image:url(prajituri/prajitura20.jpg);
}

#prajitura19{
	background-image:url(prajituri/prajitura19.jpg);
}

#prajitura18{
	background-image:url(prajituri/prajitura18.jpg);
}

#prajitura17{
	background-image:url(prajituri/prajitura17.jpg);
}

#prajitura16{
	background-image:url(prajituri/prajitura16.jpg);
}

#prajitura15{
	background-image:url(prajituri/prajitura15.jpg);
}

#prajitura14{
	background-image:url(prajituri/prajitura14.jpg);
}

#prajitura13{
	background-image:url(prajituri/prajitura13.jpg);
}

#prajitura12{
	background-image:url(prajituri/prajitura12.jpg);
}

#prajitura11{
	background-image:url(prajituri/prajitura11.jpg);
}

#prajitura10{
	background-image:url(prajituri/prajitura10.jpg);
}

#prajitura9{
	background-image:url(prajituri/prajitura9.jpg);
}

#prajitura8{
	background-image:url(prajituri/prajitura8.jpg);
}

#prajitura7{
	background-image:url(prajituri/prajitura7.jpg);
}

#prajitura6{
	background-image:url(prajituri/prajitura6.jpg);
}

#prajitura5{
	background-image:url(prajituri/prajitura5.jpg);
}

#prajitura4{
	background-image:url(prajituri/prajitura4.jpg);
}

#prajitura3{
	background-image:url(prajituri/prajitura3.jpg);
}

#prajitura2{
	background-image:url(prajituri/prajitura2.jpg);
}
#prajitura1{
	background-image:url(prajituri/prajitura1.jpg);
}